out*/
test_out/
.ipynb_checkpoints/
datasets/
data/
no_padding/
pred.tim
t2pred.dat
test/
*.out
*.png
logs/
__pycache__/
data/
*.dat
results/

# Python cache
__pycache__/
*.pyc
playaround/

Porb/
sample_dataset/
scalloping/
flux/
harmonics/
process_timeseries.py
ached do_noise.py 

