out*/
test_out/
.ipynb_checkpoints/
datasets/
data/
no_padding/
pred.tim
t2pred.dat
test/
*.out
*.png
logs/
__pycache__/
data/
# Ignore experiment outputs only
experiments/*/results/

# Ignore large data files
experiments/*/data/*.dat

# Python cache
__pycache__/
*.pyc
